{% extends 'finnotech/base.html' %}
{% load i18n %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">
            {% trans 'Submit' %}
        </button>
    </form>
    {% if is_valid is not None %}
        <span>
            {% if is_valid %}
                <p class="text-success">{% trans "Valid" %}</p>
            {% else %}
                <p class="text-danger">{% trans "Invalid" %}</p>
            {% endif %}
        </span>
    {% endif %}
{% endblock %}